.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh !important;
  overflow-y: hidden;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    overflow-y: visible;
  }
}